
<html>
    <head>
    <meta charset="UTF-8"/>
        <style>
                h1 { 
            color: green; 
        }
        h1, p{
            font-family: Georgia, 'Times New Roman', serif;
        }
        html, body {
            height: 100%; 
        }
        html {
            display: table;
            margin: auto;
            margin-top: 20px;
        }
        body {
            display: table-cell;
        }
        textarea, input { font-size: 14px; }
            </style>
    </head>
  <body>
    <form id="addListe" action="http://localhost:3001/wgs/1/einkaufsliste" method="post" enctype="application/x-www-form-urlencoded">
        <h1>Einkaufsliste hinzuf端gen:</h1>
        <hr>
        <p> Name der Liste: </p>
        <textarea id="name"  name="name" rows="2" cols="30"></textarea>
        
        <br>
        <br>
		  <input id="submit" type="submit" value="Hinzuf端gen" style="width: 320px; height:40ps">
      </form>
      <!-- TODO richtig weiterleiten mit ID-->
      <a href="http://localhost:3001/wgs/1/einkaufsliste/<%= zutatdata%>" method="get" enctype="application/x-www-form-urlencoded">
          <input id="submit" type="submit" value="weitere Zutaten hinzuf端gen" style="width: 320px; height:40ps"> 

     <form method="GET" action="http://localhost:3001" >
        <input type="submit" value="zur端ck zur Startseite" style="width: 320px; height:40ps"/>
    </form>
  </body>
</html>
