<html>
	<head>
           <meta charset="UTF-8"/>
                <style>
                h1 { 
            color: green; 
        }
        h1, p{
            font-family: Georgia, 'Times New Roman', serif;
        }
        html, body {
            height: 100%; 
        }
        html {
            display: table;
            margin: auto;
            margin-top: 20px;
        }
        body {
            display: table-cell;
        }
        textarea, input { font-size: 14px; }
            </style>
    </head>
    <body>
    <h1>Liste hinzufügen</h1>
		<hr>
		<form id="neu" name="rezeptForm" action="http://localhost:3001/rezepte" method="post">
            <p><u>Listen Name:</u></p>
            <input type="text" id="name" name="name"></br>
            <p><u>Zutaten:</u></p>
            <textarea id="description"  name="description"></textarea> <br>
			<!-- muss noch ganz viel gemacht werden/-->
			<input id="submit" type="submit" value="Create">	
        </form>
             <form method="GET" action="http://localhost:3001" >
        <input type="submit" value="zurück zur Startseite" style="width: 200px; height:30ps"/>
    </form>
	</body>
</html>


