<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#addRezept").submit(function(event) {
          event.preventDefault();
          $("#zutatenid").show();
            $("#rezeptspeichern").hide();
          var newRezept = {
            name: $("#name").val(),
            zubereitung: $("#zubereitung").val(),
            level: $(".level:checked").val()
          };

                $.ajax({
                type: 'POST',
                host: 'localhost',
                port: 3001,
                url: '/rezepte' ,
                data: JSON.stringify(newRezept),
                contentType: "application/json",               
                complete: function(data){ 
                    // noch id eintragen
                    var tmp=JSON.stringify(data.responseJSON.id);
                    $('#rezeptID').html(tmp);
                },
                failure: function(e){alert("fehler");}                      
                });
        });
    });
        
    $(document).ready(function(){
        $("#addZutatenliste").submit(function(event) {
            event.preventDefault();
            var id=$("#rezeptID").val();

            var newZutat = {
            zutat: $("#zutat").val()}
            $.ajax({
                type: 'POST',
                host: 'localhost',
                port: 3001,
                url: '/rezepte/'+id+'/zutatenliste',
                data: JSON.stringify(newZutat),
                contentType: "application/json; charset=utf-8",               
                success: function(data){ 
                    alert("Zutat hinzugefügt");
                    //Text wieder aus Eingabe entfernen
                    $("#zutat").val('');
                },
                failure: function(e){alert("fehler");}                      
                });
        });
    });
  </script>
</head>
  <body>

      <h1>Rezept hinzufügen</h1>
      <hr>
        <form id="addRezept" enctype="application/x-www-form-urlencoded">
           <p><u>Rezeptname:</u></p>
            <input type="text" id="name" name="name" style="width: 320px; height:40px" required></br>
            <p><u>Zubereitung:</u></p>
            <textarea id="zubereitung"  name="zubereitung" style="width: 320px; height:40px"></textarea>
            <p><u>Level:</u></p>
            <input type="radio" class="level" name="level" value="1" />1 <br>
            <input type="radio" class="level" name="level" value="2" />2 <br>
            <input type="radio" class="level" name="level" value="3" />3 <br><br> 
            <button id ="rezeptspeichern" type="submit" style="width: 320px; height:40px">Rezept speichern</button>
        </form>
        <section id="zutatenid" style="display:none">
                <form id="addZutatenliste" enctype="application/x-www-form-urlencoded">
                <div id="id"> ID: <textarea id="rezeptID"  name="rezeptNummer" rows="1" cols="1"></textarea> </div>
                <p>Zutat hinzufügen:</p>
                <textarea id="zutat"  name="zutat" rows="2" cols="30"></textarea>
                <br>
                <button type="submit" style="width: 320px; height:40px">Zutat speichern</button>
                </form>
        </section>
            
     <form method="GET" action="http://localhost:3001" >
        <input type="submit" value="Fertig zur Startseite" style="width: 320px; height:40px"/>
    </form>

  </body>
</html>
