
<html>
    <head>
    <meta charset="UTF-8"/>
    </head>
  <body>
    <form id="addZutatenliste" action="http://localhost:3001/rezepte/:id/zutatenliste" method="get" enctype="application/x-www-form-urlencoded">
      <p>Zutat hinzufügen:</p>
        <textarea id="zutat"  name="zutat"></textarea>
		  <input id="submit" type="submit" value="Hinzufügen" style="width: 200px; height:30ps">
        </form>
        <form method="GET" action="http://localhost:3001/rezepte" >
        <input type="submit" value="Fertig?" style="width: 200px; height:30ps" />
    </form>
  </body>
</html>
