<!-- views/rezept.ejs -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8"/>
</head>

<body>

    <h1> Die Einkaufsliste wurde geloescht</h1>
    <p>Wohin moechtest du jetzt</p>

    
     <form method="GET" action="http://localhost:3001" >
        <input type="submit" value="Startseite" style="width: 200px; height:30ps"/>
    </form>
        <form method="GET" action="http://localhost:3001/rezepte" >
        <input type="submit" value="alle Rezepte" style="width: 200px; height:30ps" />
    </form>
        <form method="GET" action="http://localhost:3001/wgs/1/einkaufsliste" >
        <input type="submit" value="alle Einkaufslisten" style="width: 200px; height:30ps" />
    </form>
    
</body>

</html>