<!-- views/rezept.ejs -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8"/>
            <style>
                h1 { 
            color: green; 
        }
        h1, p{
            font-family: Georgia, 'Times New Roman', serif;
        }
        html, body {
            height: 100%; 
        }
        html {
            display: table;
            margin: auto;
            margin-top: 20px;
        }
        body {
            display: table-cell;
        }
        textarea, input { font-size: 14px; }
            </style>
</head>

<body>

    <h1> Das Rezept <br> wurde geloescht</h1>
    <p>Wohin möchtest du jetzt</p>
    <form method="GET" action="http://localhost:3001/rezepte" >
        <input type="submit" value="alle Rezepten" style="width: 200px; height:30ps" />
    </form>
    
     <form method="GET" action="http://localhost:3001" >
        <input type="submit" value="Startseite" style="width: 200px; height:30ps"/>
    </form>
    
</body>

</html>