<!-- views/rezepte.ejs -->

<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css" href="/css/style.css"> 
</head>

<body>

    <h1>Einkaufslisten:</h1>
  <hr>
    <ul> 
<% for(var i=0; i<einkaufslistedata.length; i++) {%>
       <li> <a href="http://localhost:3001/wgs/1/einkaufsliste/<%= einkaufslistedata[i] %>"> Einkaufsliste: <%= einkaufslistedata[i]%> </a>
</li>
<% } %>
</ul>
        <form method="GET" action="http://localhost:3001/wgs/1/addListe" >
        <input type="submit" value="Einkaufsliste anlegen" style="width: 200px; height:40px"/>
    </form>
     <form method="GET" action="http://localhost:3001" >
        <input type="submit" value="zurück zur Startseite" style="width: 200px; height:40px"/>
    </form>
</body>

</html>