<!-- views/rezepte.ejs -->

<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8"/>
            <style>
                h1 { 
            color: green; 
        }
        h1, p{
            font-family: Georgia, 'Times New Roman', serif;
        }
        html, body {
            height: 100%; 
        }
        html {
            display: table;
            margin: auto;
            margin-top: 20px;
        }
        body {
            display: table-cell;
        }
        textarea, input { font-size: 14px; }
            </style>
</head>

<body>

    <h1>Alle Einkaufslisten:</h1>
  <hr>
    <ul> 
<% for(var i=0; i<einkaufslistedata.length; i++) {%>
       <li> <a href="<%= einkaufslistedata[i].uri %>"> <%= einkaufslistedata[i].uri%> </a>
</li>
<% } %>
</ul>
         <form method="GET" action="http://localhost:3001/wgs/1/einkaufsliste/1" >
        <input type="submit" value="Einkaufsliste 1" style="width: 200px; height:30ps"/>
    </form>
        <form method="GET" action="http://localhost:3001/wgs/1/einkaufsliste/2" >
        <input type="submit" value="Einkaufsliste 2" style="width: 200px; height:30ps"/>
    </form>
    <form method="GET" action="http://localhost:3001/wgs/1/einkaufsliste/3" >
        <input type="submit" value="Einkaufsliste 3" style="width: 200px; height:30ps"/>
    </form>
     <form method="GET" action="http://localhost:3001" >
        <input type="submit" value="zurück zur Startseite" style="width: 200px; height:30ps"/>
    </form>
</body>

</html>