<!-- views/rezepte.ejs -->

<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css" href="/css/style.css"> 
</head>

<body>

    <h1>Alle Rezepte:</h1>
  <hr>
    <ul> 
<% for(var i=0; i<rezeptedata.length; i++) {%>
       <li> <a href="<%= rezeptedata[i].uri %>"> <%= rezeptedata[i].name%> </a>
</li>
<% } %>
</ul>
        <form method="GET" action="http://localhost:3001/neuesRezept" >
        <input type="submit" value="neues Rezept anlegen" style="width: 200px; height:30px"/>
    </form>
     <form method="GET" action="http://localhost:3001" >
        <input type="submit" value="zurück zur Startseite" style="width: 200px; height:30px"/>
    </form>
</body>

</html>