<!-- views/rezepte.ejs -->

<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8"/>
            <style>
                h1 { 
            color: green; 
        }
        h1, p{
            font-family: Georgia, 'Times New Roman', serif;
        }
        html, body {
            height: 100%; 
        }
        html {
            display: table;
            margin: auto;
        }
        body {
            display: table-cell;
        }
        textarea, input { font-size: 14px; }
            </style>
</head>

<body>

    <h1>Alle Rezepte:</h1>
  <hr>
    <ul> 
<% for(var i=0; i<rezeptedata.length; i++) {%>
       <li> <a href="<%= rezeptedata[i].uri %>"> <%= rezeptedata[i].name%> </a>
</li>
<% } %>
</ul>
        <form method="GET" action="http://localhost:3001/addRezept" >
        <input type="submit" value="neues Rezept anlegen" style="width: 200px; height:30px"/>
    </form>
     <form method="GET" action="http://localhost:3001" >
        <input type="submit" value="zurück zur Startseite" style="width: 200px; height:30px"/>
    </form>
</body>

</html>