<!-- views/singleeinkaufsliste.ejs -->

<!DOCTYPE html>
<html>

<head>
   
</head>

<body>

    <h1>Eine Einkaufslisten:</h1>
  <hr>
     
                    <ul>
                        <% for(var i=1; i<einkaufsliste.length; i++) {%>
                        <li> <%= einkaufsliste[i] %></li>
                            <% } %>
                    </ul>
<!-- hier die ID übergeben um zu löschen --> 
<form method="POST" action="http://localhost:3001/wgs/1/einkaufsliste/<%= einkaufsliste[0]%>" >
        <input type="submit" value="delete" style="width: 200px; height:30ps"/>
    </form>
   
    <form method="GET" action="http://localhost:3001/wgs/1/einkaufsliste" >
        <input type="submit" value="zurueck zu allen Listen" style="width: 200px; height:30ps" />
    </form>
    
     <form method="GET" action="http://localhost:3001" >
        <input type="submit" value="zurueck zur Startseite" style="width: 200px; height:30ps"/>
    </form>
</body>

</html>