<!-- views/singleeinkaufsliste.ejs -->

<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8"/>
            <style>
                h1 { 
            color: green; 
        }
        h1, p{
            font-family: Georgia, 'Times New Roman', serif;
        }
        html, body {
            height: 100%; 
        }
        html {
            display: table;
            margin: auto;
        }
        body {
            display: table-cell;
        }
        textarea, input { font-size: 14px; }
            </style>
</head>

<body>

    <h1>Einkaufsliste <%= einkaufsliste[0] %></h1>
  <hr>
     
                    <ul>
                        <% for(var i=1; i<einkaufsliste.length; i++) {%>
                        <li> <%= einkaufsliste[i] %></li>
                            <% } %>
                    </ul>
<!-- hier die ID übergeben um zu löschen --> 
<form method="POST" action="http://localhost:3001/wgs/1/einkaufsliste/<%= einkaufsliste[0]%>" >
        <input type="submit" value="löschen" style="width: 200px; height:30ps"/>
    </form>

 

    
 <!--   <form method="post" action="#">
       <p> Zutat hinzufügen: </p>
        <textarea id="zutat"  name="zutat" rows="2" cols="30"></textarea><br>
       <input name="_method" type="hidden" value="put" />
        <input type="submit" value="zutat hinzufügen" style="width: 200px; height:30ps"/>
   </form>
-->
    <form method="GET" action="http://localhost:3001/wgs/1/einkaufsliste" >
        <input type="submit" value="zurück zu allen Listen" style="width: 200px; height:30ps" />
    </form>
    
     <form method="GET" action="http://localhost:3001" >
        <input type="submit" value="zurück zur Startseite" style="width: 200px; height:30ps"/>
    </form>
</body>

</html>