<!-- views/singleeinkaufsliste.ejs -->

<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8"/>
            <style>
                h1 { 
            color: green; 
        }
        h1, p, label{
            font-family: Georgia, 'Times New Roman', serif;
        }
        html, body {
            height: 100%; 
        }
        html {
            display: table;
            margin: auto;
        }
        body {
            display: table-cell;
        }
        textarea, input { font-size: 14px; }
            </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/jquery" type="text/javascript"></script>
    <script>
    $(function(){
      $("#putliste").click(function(event) {
        //Abschicken und Seite neu laden unterbinden
        event.preventDefault();
        var newList = [ $("#zutat").val()];
        $.ajax({
          type: 'PUT',
          host: 'localhost',
          url: '#' ,
          contentType: 'application/json',
          data: JSON.stringify(newList),
          success: function(data){
            $('#neueZutat').html(data);
          },
        });
      });
    });
  </script>
</head>

<body>

    <h1>Einkaufsliste <%= einkaufsliste[0] %></h1>
  <hr>
     
                    <ul>
                        <% for(var i=1; i<einkaufsliste.length; i++) {%>
                        <li> <%= einkaufsliste[i] %></li>
                            <% } %>
                </ul>
                           <div id="neueZutat">
                        </div>
<!-- hier die ID übergeben um zu löschen --> 


    <form>
    <label>Zutat hinzufügen</label><br>
              <input type="text" id="zutat" name="zutat" required><br>
    <input type="submit" id="putliste" name="submit" value="Speichern" style="width: 200px; height:40px">
    </form>
    <form method="POST" action="http://localhost:3001/wgs/1/einkaufsliste/<%= einkaufsliste[0]%>" >
        <input type="submit" value="löschen" style="width: 200px; height:40px"/>
    </form>
    <form method="GET" action="http://localhost:3001/wgs/1/einkaufsliste/<%= einkaufsliste[0]%>" >
        <input type="submit" value="neu laden" style="width: 200px; height:40px"/>
    </form>
    <form method="GET" action="http://localhost:3001/wgs/1/einkaufsliste" >
        <input type="submit" value="zurück zu allen Listen" style="width: 200px; height:40px" />
    </form>
    
     <form method="GET" action="http://localhost:3001" >
        <input type="submit" value="zurück zur Startseite" style="width: 200px; height:40px"/>
    </form>
</body>

</html>