<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html>

<head>
    <title> Hier unserer Text</title>
</head>

<body class="container">

    <header>
        <title> </title>
    </header>

    <main>
        <h1>Hier die Rezepte: <%= rezepte[0].id %> </h1>
        <div class="container-fluid panel panel-default dashboard-container">
            <div class="row">
                <div class="col-sm-6">neues Rezept</div>
                <div class="col-sm-6">neue WG</div>
            </div>
            <div class="row">
                <div class="col-sm-12">deine Listen</div>
            </div>
        </div>
    </main>

    <footer>
        
    </footer>

</body>

</html>